<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="calculateRequestUnmarshaller"
		class="com.scirisk.riskanalyzer.backend.domain.CalculateRequestUnmarshaller" />
	<bean id="calculateResponseMarshaller"
		class="com.scirisk.riskanalyzer.backend.domain.CalculateResponseMarshaller" />

	<bean id="calculationService"
		class="com.scirisk.riskanalyzer.backend.service.CalculationServiceMockImpl">
		<property name="sleepTimeInMilliseconds" value="1000" />
	</bean>

	<bean id="calculateHandler"
		class="com.scirisk.riskanalyzer.backend.service.CalculateHandler">
		<property name="calculationService" ref="calculationService" />
		<property name="requestUnmarshaller" ref="calculateRequestUnmarshaller" />
		<property name="responseMarshaller" ref="calculateResponseMarshaller" />
	</bean>

	<bean
		class="org.springframework.ws.server.endpoint.mapping.PayloadRootQNameEndpointMapping">
		<property name="mappings">
			<props>
				<prop key="{http://scirisk.com/xml/ns/risk-analyzer}CalculateRequest">calculateHandler</prop>
			</props>
		</property>
		<property name="interceptors">
			<bean
				class="org.springframework.ws.server.endpoint.interceptor.PayloadLoggingInterceptor" />
		</property>
	</bean>

	<bean id="network_1_0" class="org.springframework.xml.xsd.SimpleXsdSchema">
		<property name="xsd" value="/WEB-INF/network_1_0.xsd" />
	</bean>

	<bean id="risk-analyzer_1_0" class="org.springframework.xml.xsd.SimpleXsdSchema">
		<property name="xsd" value="/WEB-INF/risk-analyzer_1_0.xsd" />
	</bean>

	<bean id="risk-analyzer"
		class="org.springframework.ws.wsdl.wsdl11.SimpleWsdl11Definition">
		<property name="wsdl" value="/WEB-INF/risk-analyzer_1_0.wsdl" />
	</bean>

</beans>
