<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:web-services="http://www.springframework.org/schema/web-services"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/web-services http://www.springframework.org/schema/web-services/web-services-2.0.xsd">

	<web-services:annotation-driven />

	<context:component-scan base-package="com.scirisk.riskanalyzer.backend.service" />

	<bean id="frequencyDistributionService"
		class="com.scirisk.riskanalyzer.backend.service.FrequencyDistributionServiceMockImpl">
		<property name="sleepTimeInMilliseconds" value="1000" />
	</bean>

	<bean id="network_1_0" class="org.springframework.xml.xsd.SimpleXsdSchema">
		<property name="xsd" value="/WEB-INF/network_1_0.xsd" />
	</bean>

	<bean id="risk-analyzer_1_0" class="org.springframework.xml.xsd.SimpleXsdSchema">
		<property name="xsd" value="/WEB-INF/risk-analyzer_1_0.xsd" />
	</bean>

	<bean id="risk-analyzer"
		class="org.springframework.ws.wsdl.wsdl11.SimpleWsdl11Definition">
		<property name="wsdl" value="/WEB-INF/risk-analyzer_1_0.wsdl" />
	</bean>

</beans>
